h1 {
    font-family: 'Bebas Neue', sans-serif; /* Asegúrate de que el nombre sea exactamente 'Bebas Neue' */
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #252B48; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    background-color: #2980b9; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
  }

  .sobre-nosotros-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0;
  }
  
  .background-gif {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }

  .sobre-nosotros-container {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% del alto de la ventana */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Otros estilos necesarios */
  }
  .sobre-nosotros-content {
    color: rgb(255, 255, 255); /* Cambia el color de la letra a blanco */
  }
  
  .sobre-nosotros-content p {
    margin-bottom: 50px; /* Aumenta el espacio entre los párrafos */
  }

  .sobre-nosotros-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cambia el valor de alfa (el último número) para ajustar la opacidad */
    z-index: -1; /* Asegura que esta capa esté detrás de otros elementos */
  }
  
  
  